md-toolbar {
    background-color: #C5CAE9;
}
md-toolbar > h1, md-toolbar > h1 > a {
    color: white;
    font-family: 'Rammetto One', cursive;
    text-decoration: none;
}

#map {

}

#mapid {
    display: block;
    height: 600px;
}