html,body {
    height: 100%; margin: 0; padding: 0;
}

md-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C5CAE9;
    height: 68px;
    z-index: 10;
}
h1 {
    margin:0;
}

md-toolbar > h1 > a{
    color: white;
    font-family: 'Rammetto One', cursive;
    text-decoration: none;
}

#main-section {
    height: 100%;
    padding-top: 68px;
}

#sidenav {
    margin-top: 68px;
    z-index: 5;
}

.search-input >input {
    background-color: white;

}

#mapid {
    display: block;
    height: 100%;
    z-index: 1;
}

.list-button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-tab-item {
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 12px !important;

}

.login-modal {
    height: 380px;
}

.login-modal > md-tabs {
    height:95%;
}

.lignes_list md-icon{
    margin-left: 12px;
}